@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>SearchPortal.</h1>
                <h2>Your place to start searching.</h2>
            </hgroup>
        </div>
    </section>
}
<h3>No search engines have been installed.</h3>
<p>Please contact the system administrator.</p>