<p>
     SearchPortal is a web application which enables you to search the database of a search engine of choice.
</p>
<p>
    SearchPortal has been developed for Apress Pro NuGet book, demonstrating plugin distribution through NuGet.
    To install a search engine plugin, navigate to the @Html.ActionLink("administration", "Index", "Administration")
    area and find search engine plugines that should be installed on this sample's @Html.ActionLink("front page", "Index", "Home").
    (login: administrator, password: administrator)
</p>
